.virtual_documents/
.DS_Store
*.zip
note
build/
dist/

#
# python
# https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.python-version
.env*
*.egg-info/

# ignore some too big dataset and models
torch/ds/cifar*
torch/models/cifar*
torch/models/alexnet*
torch/runs
